@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMonoBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMono.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMonoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CosmicSansNeueMono';
  src: url('../fonts/CosmicSansNeueMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
