@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../fonts/FantasqueSansMono.woff') format('woff'), url('../fonts/FantasqueSansMono.ttf') format('truetype');
}
@font-face {
  font-family: 'FantasqueSansMonoBold';
  src: url('../fonts/FantasqueSansMonoBold.woff') format('woff'), url('../fonts/FantasqueSansMonoBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Titillium';
  src: url('../fonts/titillium-thin-webfont.woff') format('woff'), url('../fonts/titillium-thin-webfont.ttf') format('truetype');
}
.hljs-comment,
.hljs-title {
  color: #cdd1dd;
}
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #ed7e79;
}
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #faa486;
}
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #d7ff98;
}
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #32b95f;
}
.css .hljs-hexcolor {
  color: #2fe7be;
}
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7376f0;
}
.hljs-keyword,
.javascript .hljs-function {
  color: #948cf1;
}
.hljs {
  display: block;
  background: white;
  color: #767b9e;
  padding: 0.5em;
}
.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.form-control {
  border-color: #dbdcde;
  border-top-color: #b3b5b9;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  box-sizing: border-box;
}
.modal-content {
  background: #fefefe;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-footer {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
html,
body {
  background: #ffffff;
  overflow: hidden;
  height: 100%;
  color: #767b9e;
}
h1,
h2,
h3 {
  font-family: 'Titillium';
  color: #3e4457;
}
a {
  color: #948cf1;
}
a:hover {
  color: #2719cb;
}
.layout {
  height: 100%;
  padding-left: 320px;
  left: 0;
}
.navigation {
  position: fixed;
  width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
  padding: 20px;
  background: #fefefe;
}
.navigation h1 {
  font-size: 48px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
.navigation h3 {
  font-size: 24px;
}
.navigation .list-group .list-group-item {
  border-radius: 0;
  border: 0;
  margin: 0;
  background: none;
  padding: 10px 0;
}
.navigation .list-group .list-group-item .label-primary {
  background: #948cf1;
}
.navigation .list-group .list-group-item .glyphicon {
  color: #948cf1;
}
@media (max-width: 767px) {
  .navigation {
    left: -200px;
  }
}
.page {
  height: 100%;
}
.page h1 {
  font-size: 72px;
  margin-bottom: 20px;
}
.page h2 {
  font-size: 32px;
}
.page .promo {
  padding-top: 150px;
  height: 100%;
  text-align: center;
}
.page .lead {
  font-family: 'Titillium';
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}
.page .lead a {
  color: #7376f0;
  font-weight: bold;
}
.page .btn-primary {
  border-radius: 30px;
  background: #948cf1;
  border: 0;
  margin-bottom: 100px;
}
.page .btn-primary:hover {
  background: #a9a3f4;
}
.editor-wrapper {
  height: 100%;
}
.editor {
  position: relative;
  height: 100%;
  font-size: 18px;
  line-height: 23px;
  font-family: 'FantasqueSansMono';
  overflow: auto;
}
.editor pre,
.editor pre > code {
  margin: 0;
  padding: 0;
  padding-left: 1ch;
  border-radius: 0;
  border: 0;
  word-wrap: normal;
  white-space: pre;
  font-size: 18px;
  line-height: 23px;
  font-family: 'FantasqueSansMono';
  height: 100%;
}
.editor pre {
  position: relative;
  padding-left: 7ch;
  counter-reset: linenumber;
}
.editor pre > code {
  position: relative;
}
.editor .line-numbers-rows {
  border-right: 1px solid #e5e5e5;
  position: absolute;
  pointer-events: none;
  background: #fefefe;
  top: 0;
  left: -6ch;
  width: 6ch;
  min-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editor .line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.editor .line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #cdd1dd;
  display: block;
  padding-right: 1ch;
  text-align: right;
}
.editor .content {
  width: 100%;
  background: #fefefe;
  overflow: visible;
}
.editor .powerline {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;
  padding-left: 8ch;
  margin-bottom: 15px;
}
.editor .powerline .filename {
  display: inline-block;
  background: #e5e5e5;
  padding: 5px 10px;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editor .powerline .filename:hover {
  opacity: 0.3;
}
.editor .cursor-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8ch;
}
.editor .cursor-container .cursor {
  width: 1ch;
  height: 23px;
  background: #767b9e;
  -webkit-animation: blink 0.8s linear 0s infinite;
  -moz-animation: blink 0.8s linear 0s infinite;
  -ms-animation: blink 0.8s linear 0s infinite;
  -o-animation: blink 0.8s linear 0s infinite;
}
@media (max-width: 767px) {
  .layout {
    padding-left: 0px;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  99% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #fefefe;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #cdd1dd;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #cdd1dd;
}
::-webkit-scrollbar-thumb:active {
  background: #cdd1dd;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
