<div class="promo container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Collab</h1>

      <p class="lead">
        Collab is a screen sharing tool that allows you to share source code in
        real time to the web. 
      </p>

      <button
        class="btn btn-primary btn-lg"
        data-toggle="modal"
        data-target="#video">
        See how Collab works
      </button>
      <br>

      <p>
        Collab is an open source project, go and check it out at Github.
      </p>

      <div>
        <a href="https://github.com/dennis84/collab">Backend</a> |
        <a href="https://github.com/dennis84/vim-collab">VIM Plugin</a> |
        <a href="https://github.com/dennis84/collab-web">Web App</a>
      </div>
    </div>
  </div>
</div>

<div id="video" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="line-height: 0">
      <iframe
        src="//player.vimeo.com/video/89740761"
        width="900"
        height="466"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen></iframe>
    </div>
  </div>
</div>
